.cvNB-item .portfolio-item {
  border-top-left-radius: 0.5rem !important;
  border-top-right-radius: 0.5rem !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border: none;
}

.bg-nb {
  background-color: rgb(230, 222, 222);
}

.cvNB-item-sumary {
  font-weight: bold;
  color: rgb(214, 214, 214);
}

.card-NB {
  background-color: #103455ce;
  color: rgb(214, 214, 214);
}

/* @media (min-width: 768px) {
  .cvNB-item-sumary {
    margin-left: 46px;
  }
}

@media (min-width: 577px) {
  .cvNB-item-sumary {
    margin-left: 64px;
  }
} */

.cvNB-item-sumary .cvNB-title {
  font-weight: bold;
  line-height: normal;
  color: rgb(214, 214, 214);
}

.cvNB-item-sumary .cvNB-title:hover {
  color: whitesmoke !important;
}

.cvNB-salary {
  font-weight: bold;
}

.cvNB-salary span a {
  color: rgb(214, 214, 214);
}

.cvNB-salary span a:hover {
  color: rgb(235, 229, 229);
}

.cvNB-img img {
  height: 250px;
  object-fit: fill !important;
}

.menu-recruitment {
  margin: 5px 5px 5px 10px;
  color: rgb(65, 56, 56);
  position: absolute;
  z-index: 999;
  font-weight: bold;
  font-size: 20px;
}

.menu-recruitment:hover {
  cursor: pointer;
  color: rgb(29, 24, 24);
}

.img img {
  height: 150px !important;
  object-fit: unset !important;
}
