.form-group .text-register {
  font-size: 25px !important;
  font-weight: bold;
}

.register {
  transition: 0.5s;
  animation: animationRegister 1s ease-in-out;
}

@keyframes animationRegister {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.onVali {
  color: red !important;
  animation: valiAnimation 1s;
  transition: 0.5s;
}

.offVali {
  display: none;
  animation: valiAnimation 1s;
  transition: 0.5s;
}

@keyframes valiAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card-go-to-email {
  transition: 0.5s;
  animation: animationRegister 1s ease-in-out;
  margin-top: 150px;
  margin-bottom: 100px;
  min-height: 350px;
}

.card-go-to-email .card-body {
  padding-top: 70px;
}

.card-final-register {
  transition: 0.5s;
  animation: animationRegister 1s ease-in-out;
  margin-top: 150px;
  margin-bottom: 100px;
  min-height: 350px;
}

.card-final-register .card-body {
  padding-top: 30px;
}

.pending {
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #00000087;
  justify-content: center;
  align-items: center;
}

.spinner-loading {
  text-align: center;
  color: #f8f9fad1;
  font-size: 25px;
}
